* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
}

img,
svg {
    display: block;
    width: 100%;
    height: inherit;
}

svg {
    fill: currentColor;
}

:root {
    font-size: 100%;
    scroll-behavior: smooth;
    /* Los colores principales son los siguientes */
    /* Para el fondo */
    --fondo: rgb(48, 44, 32);
    /* Color del header y de los detalles */
    --principal: rgb(233, 177, 9);
    /* Color de fondo de las tarjetas*/
    --claro: rgb(122, 109, 69);
    /* Color de los textos */
    --blanco: rgb(255, 255, 255);
    /* Color de algunos textos del header */
    --negro: rgb(22, 22, 22);
    /* Color de fondo de la cesta, de los enlaces al hacer hover y algunos textos */
    --plateado: rgb(223, 223, 223);
    font-family: "Grenze", serif;


}

body {
    hyphens: none;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.Header {
    width: 100%;
    background-color: var(--principal);
    background-image: url('/TIENDA/assets/texturamadera.png');
    background-blend-mode: soft-light;
    padding: 0rem 1.25rem;
}

.Header-wrap {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.Header-h1{
    max-width: 7.5rem;
}
.Header-nav {
    width: 80%;
    max-width: 31.25rem;
}

.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.Header-a {
    padding: .9375rem;
    color: var(--negro);
    font-size: 1.2rem;
    transition: background-color .3s ease;
}

.Header-a:hover {
    background-color: var(--plateado);
}

.Header-boton {
    display: none;
}

.Header-ul--boton {
    display: none;
}

.Main {
    min-height: 100vh;
    width: 100%;
}

.Hero {
    width: 100%;
    min-height: 50vh;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Hero-fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.Hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.5);
}

.Hero-info {
    width: 90%;
    max-width: 43.75rem;
    padding: 1.25rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.Hero-h2 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--negro);
}

.Hero-svg {
    color: var(--negro);
    max-width: 25rem;
}

.Hero-a {
    background-color: var(--negro);
    color: var(--principal);
    font-size: 1.2rem;
    padding: .9375rem;
    border: .125rem solid var(--principal);
    transition: background-color .3s ease, color .3s ease;
}

.Hero-a:hover {
    background-color: var(--principal);
    color: var(--negro);
}

.Mapas {
    width: 100%;
    background-color: var(--fondo);
    color: var(--blanco);
    min-height: 50vh;

    padding: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Mapas-h3 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--principal);
}

.Carrousel {
    width: 90%;
    max-width: 50rem;
    min-height: 32.5rem;
    margin: 1.25rem auto;
    position: relative;
    overflow-x: hidden;
}

.Carrousel-slide {
    width: calc(100% * 3);
    min-height: 31.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: all .5s ease;
}

.Carrousel-articulo {

    height: 100%;
    border-radius: 1.5625rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .625rem;
    padding: 1.25rem;
    background-color: var(--claro);
    border: .1875rem solid var(--principal);
}

.Articulo-img {
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    object-fit: contain;
}

.Articulo-wrap {
    padding: .625rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 2.5rem;
    grid-row: 1 / 3;
    
}

.Articulo-h4 {
    color: var(--plateado);
    font-size: 2rem;
    font-weight: 500;
}

.Articulo-p {
    font-weight: 300;
    font-size: 1.3rem;
}

.Articulo-precio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 3/4;
}

.Articulo-span {
    font-weight: 400;
    font-size: 1.8rem;
}

.Flecha-arrow {
    border-radius: .625rem;
    background-color: transparent;
    color: var(--plateado);
    width: 3rem;
    height: 3rem;
    transition: all .5s ease;
    opacity: 1;

    position: absolute;
    bottom: 3.125rem;
}

.Next {
    right: .625rem;
}

.Prev {
    left: .625rem;
}

.Carrousel-ul {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .625rem 0rem;

}

.Carrousel-point {
    width: .625rem;
    height: .625rem;
    background-color: var(--claro);
    border-radius: 25%;
}

.Activo {
    background-color: var(--plateado);
}

.Footer {
    width: 100%;

    background-color: var(--negro);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--plateado);
}

@media (max-width: 600px){

    .Header {
        min-height: 3.125rem;
    }

    .Header-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .Header-boton {
        display: block;
        width: 3.125rem;
        height: 3.125rem;
    }

    .Header-h1 {
        width: 9.375rem;
    }

    .Header-a {
        width: 100%;
    }

    .Boton-ul {
        background-color: var(--principal);
        color: var(--negro);
        width: 5.625rem;
        height: 0rem;
        position: absolute;
        top: 3.125rem;
        right: -1.25rem;
        z-index: 2;
        overflow: hidden;


        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;

        transition: height .5s ease;

    }

    .Boton-ul.Activo {
        height: 12.5rem;
    }

    .Boton-li {
        width: 100%;
        height: calc(13.125rem / 4);
        text-align: center;

    }

    .Boton-a {
        width: 100%;
        height: 100%;
        padding: .3125rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        transition: background-color .5s ease;
    }

    .Boton-a:hover {
        background-color: var(--plateado);
        color: var(--negro);
    }

    .Header-nav {
        display: none;
    }
    .Main-h2{
        font-size: 2.2rem;
    }
    .Carrousel-articulo {
        width: 100%;
    }

    .Carrousel-articulo {
        height: 100%;
        border-radius: 1.5625rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        gap: .625rem;
        padding: 1.25rem;
    }

    .Articulo-img {
        width: 100%;
        object-fit: contain;
    }

    .Articulo-wrap {
        padding: .625rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: start;
        gap: 2.5rem;

    }

    .Articulo-h4 {
        color: var(--plateado);
        font-size: 2rem;
        font-weight: 500;
    }

    .Articulo-p {
        font-weight: 300;
        font-size: 1.3rem;
    }

}