* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
}

img,
svg {
    display: block;
    width: 100%;
    height: inherit;
}

svg {
    fill: currentColor;
}

:root {
    font-size: 100%;
    scroll-behavior: smooth;
    --fondo: rgb(48, 44, 32);
    --principal: rgb(233, 177, 9);
    --claro: rgb(122, 109, 69);
    --blanco: rgb(255, 255, 255);
    --negro: rgb(22, 22, 22);
    --plateado: rgb(223, 223, 223);
    font-family: "Grenze", serif;


}

body {
    hyphens: none;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.Header {
    width: 100%;
    background-color: var(--principal);
    background-image: url('/TIENDA/assets/texturamadera.png');
    background-blend-mode: soft-light;
    padding: 0rem 1.25rem;
}

.Header-wrap {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.Header-h1{
    max-width: 120px;
}
.Header-nav {
    width: 80%;
    max-width: 500px;
}

.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.Header-a {
    padding: 15px;
    color: var(--negro);
    font-size: 1.2rem;
    transition: background-color .3s ease;
}

.Header-a:hover {
    background-color: var(--plateado);
}

.Header-boton {
    display: none;
}

.Header-ul--boton {
    display: none;
}

.Main {
    width: 100%;
}

.Hero {
    width: 100%;
    min-height: 500px;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Hero-fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.Hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.5);
}

.Hero-info {
    width: 90%;
    max-width: 700px;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.Hero-h2 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--negro);
}

.Hero-svg {
    color: var(--negro);
    max-width: 400px;
}

.Hero-a {
    background-color: var(--negro);
    color: var(--principal);
    font-size: 1.2rem;
    padding: 15px;
    border: 2px solid var(--principal);
    transition: background-color .3s ease, color .3s ease;
}

.Hero-a:hover {
    background-color: var(--principal);
    color: var(--negro);
}

.Mapas {
    width: 100%;
    background-color: var(--fondo);
    color: var(--blanco);

    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Mapas-h3 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--principal);
}

.Carrousel {
    width: 90%;
    max-width: 800px;
    min-height: 520px;
    margin: 20px auto;
    position: relative;
    overflow-x: hidden;
}

.Carrousel-slide {
    width: calc(100% * 3);
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: all .5s ease;
}

.Carrousel-articulo {

    height: 100%;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: var(--claro);
    border: .1875rem solid var(--principal);
}

.Articulo-img {
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    object-fit: contain;
}

.Articulo-wrap {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 40px;
    grid-row: 1 / 3;
    
}

.Articulo-h4 {
    color: var(--plateado);
    font-size: 2rem;
    font-weight: 500;
}

.Articulo-p {
    font-weight: 300;
    font-size: 1.3rem;
}

.Articulo-precio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 3/4;
}

.Articulo-span {
    font-weight: 400;
    font-size: 1.8rem;
}

.Flecha-arrow {
    border-radius: 10px;
    background-color: transparent;
    color: var(--plateado);
    width: 48px;
    height: 48px;
    transition: all .5s ease;
    opacity: 1;

    position: absolute;
    bottom: 50px;
}

.Next {
    right: 10px;
}

.Prev {
    left: 10px;
}

.Carrousel-ul {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px 0px;

}

.Carrousel-point {
    width: 10px;
    height: 10px;
    background-color: var(--claro);
    border-radius: 25%;
}

.Activo {
    background-color: var(--plateado);
}

.Footer {
    width: 100%;

    background-color: var(--negro);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--plateado);
}

@media (max-width:500px) {

    .Header {
        min-height: 50px;
    }

    .Header-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .Header-boton {
        display: block;
        width: 50px;
        height: 50px;
    }

    .Header-h1 {
        width: 150px;
    }

    .Header-a {
        width: 100%;
    }

    .Boton-ul {
        background-color: var(--principal);
        color: var(--negro);
        width: 90px;
        height: 0px;
        position: absolute;
        top: 50px;
        right: -20px;
        z-index: 2;
        overflow: hidden;


        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;

        transition: all .5s ease;

    }

    .Boton-ul.Activo {
        height: 200px;
    }

    .Boton-li {
        width: 100%;
        height: calc(210px / 4);
        text-align: center;

    }

    .Boton-a {
        width: 100%;
        height: 100%;
        padding: 5px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        transition: background-color .5s ease;
    }

    .Boton-a:hover {
        background-color: var(--plateado);
        color: var(--negro);
    }

    .Header-nav {
        display: none;
    }
    .Main-h2{
        font-size: 35.2px;
    }
    .Carrousel-articulo {
        min-width: 100%;
    }

    .Carrousel-articulo {
        height: 100%;
        border-radius: 25px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 20px;
    }

    .Articulo-img {
        width: 100%;
        object-fit: contain;
    }

    .Articulo-wrap {
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: start;
        gap: 40px;

    }

    .Articulo-h4 {
        color: var(--plateado);
        font-size: 2rem;
        font-weight: 500;
    }

    .Articulo-p {
        font-weight: 300;
        font-size: 1.3rem;
    }

}